<label> 
    <strong>
    
<%= link_to item.name, edit_shopping_list_item_path(@list, item)  %> | <%= item.price%> 
    </strong>
</label>

<label> Edit this product:</label>

<%= render 'items/form', item: item %>

<p> <%= button_to "REMOVE ITEM", shopping_list_item_path(@list, item), method: :delete %> </p>

<hr>

