<label> <%= link_to item.name, edit_shopping_list_item_path(@list, item)  %> | <%= item.price%> </label><br>

<p> Edit this product:</p>

<%= render 'items/form', item: item %>

<p> <%= button_to "REMOVE ITEM", shopping_list_item_path(@list, item), method: :delete %> </p>

<hr>

