body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, rgba(0, 92, 153, 0.7), rgba(236, 240, 241, 1.0));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}

.wrapper {
    height: 100vh;
}


/*---------------------------Welcome----------------------------------- */

nav {
    background: #23a402;
    height: 80px;
    width: 100%;
}

#logoimg {
    width: 50px;
    margin-top: 15px;
    margin-left: 20px;
    background-image: url("images/shopilator.jpg");
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.header-link:hover,
.header-link:active {
    background: #1e8106;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#left,
#right {
    height: 80vh;
    width: 100%;
}

#left {
    float: left;
    width: 60%;
    background: linear-gradient(to bottom, rgba(12, 41, 9, 0.808), rgba(12, 41, 9, 0.479)), url("https://i.ibb.co/9pvjHzQ/15778.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

label.title {
    color: #5bbe43;
    font-size: 80px;
    padding: 0 100x;
    font-weight: bold;
    margin-left: 40px;
}

#subtitle {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
}

#right {
    background-color: #fff;
    text-align: center;
    padding: 40px 0;
}

#welcome-logo-r {
    height: 200px;
    width: 200px;
}

@media (max-width: 952px) {
    label.title {
        font-size: 30px;
    }
    #subtitle {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 13px;
    }
}

.welcome {
    width: 60%;
    height: 400px;
    background: #fff;
    padding: 30px;
    margin: 4% auto;
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #17350f;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .header-link:hover,
    .header-link:active {
        background: none;
        color: #5bbe43;
    }
    #check:checked~ul {
        left: 0;
    }
}


/*--------------------AUTHENTICATION----------------------------------- */

.signup-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 30px;
    margin: 40px auto;
    text-align: center;
}

.signup-form h1 {
    color: rgba(0, 92, 153, 1);
    margin-bottom: 20px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    width: 95%;
    border: 1px solid #999;
    outline: none;
}

.signup-btn {
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border: none;
    outline: none;
    background: #5bbe43;
}

.signup-btn:hover {
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
    width: 200px;
    border: none;
    outline: none;
    background: #17350f;
}

.or {
    background: #fff;
    width: 30px;
    margin: -18px auto 5px;
}

.twitter-btn {
    background-color: #21afde;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    width: 60%;
    border: none;
    outline: none;
}

.has-account {
    margin: 10px;
}


/*--------------------User Lists----------------------------------- */

#list-table {
    width: 80%;
    margin-left: 40px;
    margin-bottom: 5px;
}

#list-tr {
    text-align: left;
}

.list-td {
    padding: 5px;
}

#date {
    text-align: center;
    background-color: #21afde;
    width: 8%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#month-day {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

#year {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

#details {
    text-decoration: none;
    width: 70%;
    background-color: #fff;
}

#list-name {
    font-size: 26px;
    font-weight: bold;
    color: #1e8106;
    text-decoration: none;
}

#list-name:hover {
    font-size: 24px;
}

#store-name {
    font-size: 10px;
}

#budget {
    width: 10%;
    background-color: #fff;
    text-align: center;
}

#total {
    font-size: 40px;
    font-weight: bolder;
}

#list-options {
    text-align: center;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
}

#edit-list {
    font-size: 32px;
    font-weight: bold;
}

#edit-list:hover {
    color: tomato;
    font-size: 30px;
    font-weight: bold;
}

#delete-list {
    font-size: 18px;
    font-weight: bold;
}

#delete-list:hover {
    color: red;
    font-size: 16px;
    font-weight: bold;
}