<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
        </label>
    <label class="logo">Shopilator</label>
        <ul>
            <li> <a href="/" class="active">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
</nav>

<div class="welcome">
    <img src="shopilator.jpg">
        <h1>Better Manage Your Grocery Time!</h1>
        <p> <strong>Create an account on Shopilator to access free budegeting tools.</strong> </p>

        <button type='button' class="signup-btn"><%=link_to "SIGN UP", new_user_path %></button>
        <button type='button' class="signup-btn"><%= link_to "LOGIN", login_path %></button>

</div>
        
