<%= render 'partials/header'%>

<div id="welcome-container">
    <section id="left">
        <label class="title">Shopilator</label>
        <h1 id="subtitle">Manage Your Grocery Time Better.</h1>
    </section>
    <section id="right">
    <img src="https://i.ibb.co/BC91qF6/shopilator-green-nobkg.png" id="welcome-logo-r">
            <p> <strong>Create an account on Shopilator to access free budegeting tools.</strong> </p>

            <button type='button' class="signup-btn" ><%=link_to "Create an Account", new_user_path %></button><br>
            

    </section>
        
</div> <!--End of Welcome Container-->
        




<!--LOGO LINKS:
https://i.ibb.co/BC91qF6/shopilator-green-nobkg.png
https://i.ibb.co/yWPrvsQ/shopilator-logo.png
https://i.ibb.co/GWnZgd2/shopilator-logo-wht-nobkg.png

-->